
  .loginBody {
    background: #6c1b98 url(../../../../assets/background.jpg) repeat fixed top left;
    color: #000;
    font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}
#watermark {
  background-image: url(../../../../assets/watermark.png);
  background-position: bottom right;
  bottom: 0;
  height: 472px;
  position: fixed;
  right: 0;
  width: 490px;
  z-index: 10;
}

#footer {
  bottom: 0;
  height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  max-width: 100px; /* Adjust as needed */
  height: auto;
  margin-bottom: 20px; /* Adjust as needed */
}

.login-form {
  width: 300px; /* Adjust as needed */
  background-color: #ECECEC;
  padding: 10px;
  border-radius: 10px;
}
.logo-header{
  display: grid;
  grid-template-columns: 40% 80%;
  text-wrap: wrap;
}